.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  height: 130px;
  /* padding: 40px; */
}

.navbar-brand {
  text-align: center;
  padding-left: 465px;
  padding-bottom: 30px;
  font-size: 40px;
}

.container {
  margin-bottom: 50px;
}

form {
  padding-top: 20px;
  margin-left: 470px;
  width: 200px;
}

.searchBox {
  padding-left: 30px;
  padding-bottom: 10px;
}

tr {
  height: 100px;
  width: 100%;
}

td {
  padding: 15px 35px 20px 35px;
}

th {
  padding: 15px 30px 20px 30px;
}

.thName {
  padding: 15px 25px 15px 25px;
}

table tr:nth-child(odd) td{
  background-color: lightgrey;
}

table {
  border-bottom: solid;
  border-left: solid;
}